@import "../../node_modules/bootstrap/scss/bootstrap";

:root {
  --base: #3AB0BF;
  --secondary: #C0E6EA;
  --text: #333C4E;
  --m: 'Montserrat', sans-serif;
  --ss: 'Source Sans Pro', sans-serif;
  --r: 'Roboto', sans-serif
}

%icon {
  margin-right: 15px;
  display: block;
  margin-top: 5px;
}

img {
  width: 100%;
  display: block;
}

h2 {
  font: 700 36px/1.5em var(--ss);
  display: inline-block;
}

h2::after {
  content: url('../img/wave.svg');
  width: 275px;
  display: block;
  margin-top: -26px;
}

h4 {
  font: 700 24px/1.5em var(--m)
}

p {
  font: 400 22px/1.5em var(--m)
}

button.main {
  font: 700 18px/1.5em var(--m);
  background-color: var(--base);
  color: #fff;
  text-transform: uppercase;
  border-radius: 10px;
  text-align: center;
  padding: 16px 23px;
  border: none;
}

// ------ Navbar ---------//
.topbar {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(40px);
  border-radius: 0px 0px 10px 10px;
  padding: 15px 97px 15px 150px;
  z-index: 99999;
}

#navbarNav {
  a {
    text-transform: uppercase;
    font: 400 16px/1.25em var(--m);
    color: #fff;

    &.active,
    &:hover {
      font: 600 16px/1.25em var(--m);
      color: #fff;
    }
  }
}

// --------- page Home ----------//
#homepage {
  color: var(--text);

  section.top {
    .top-title {
      background-color: rgba(15, 14, 14, 0.3);

      .top-txt {
        text-align: center;
        color: #fff;
        text-transform: uppercase;
        max-width: 1028px;

        h1 {
          font: 700 56px/1.25em var(--ss);
        }

        .sub-title {
          margin-top: 50px;
          font: 500 28px/1.5em var(--m)
        }

        button {
          margin-top: 40px;
        }
      }
    }

    .top-right-box {
      background: rgba(58, 176, 191, 0.6);
      border-radius: 20px 0px 0px 0px;
      color: #fff;
      text-align: center;
      padding: 100px 97px 76px;
      width: auto;
      right: 0;

      .workdays-title {
        font: 700 22px/1.25em var(--ss);
      }

      .workdays {
        font: 400 18px/2.2em var(--m);
      }
    }
  }

  //--------end section Top ---- //

  // ----------section contacts ------//

  section.contacts {
    margin-top: 120px;

    .color-block {
      display: inline-block;
      background-color: var(--base);
      border-radius: 20px;
      padding: 30px;
    }
  }

  // ----------end section contacts ------//

  // ----------section info ------//
  section.info {
    margin-top: 120px;

    .shadow {
      margin: 30px 110px;
      box-shadow: 0px 0px 20px rgba(51, 60, 78, 0.1);
      border-radius: 20px;
      padding: 40px;

      ul {
        font: 600 22px/2.2em var(--m)
      }
    }
  }

  //-------section form ----------------//
  section.form {
    margin-top: 100px;

    .getemail {
      max-width: 927px;
      border-radius: 10px;
      background-color: var(--secondary);
      margin: 0 auto;
      padding: 10px 10px 10px 28px;
    }

    ::placeholder {
      font: 400px 22px/1.15em var(--r);
      color: rgba(14, 4, 30, 0.4);
    }

    input[type='text'] {
      background: none;
      border: none;
      outline: none;
    }

    input[type='submit'] {
      color: var(--secondary);
      background-color: var(--base);
      padding: 12px 77px;
      border-radius: 10px;
      border: none;
    }
  }

  section.cert {
    margin-top: 100px;

    .bg-cert {
      background: url('../img/home_baby_img.jpg') right top no-repeat;
      background-size: contain;
    }

    h2 {
      margin-top: 100px;
      margin-bottom: 26px;
    }

    .fw-bold {
      margin-top: 28px;
    }

    .cert-img {
      margin-bottom: 115px;
      margin-top: 42px;
    }

  }
}

//-----footer-------//

footer {
  margin-top: 160px;

  .main-bg {
    background: var(--secondary);
    padding: 50px 0;

  }

  p {
    font: 400 18px/1.5em var(--m);
    display: flex;
  }

  h3 {
    font: 400 22px/1.5em var(--m);
    margin-bottom: 13px;
    display: inline-block;
    text-transform: uppercase;

    &::after {
      content: url('../img/wave.svg');
      width: 75px;
      display: block;
      margin-top: -12px;
    }
  }

  .sch-r::before {
    content: url('../img/icon-right-schevron.svg');
    margin-right: 15px;
    margin-top: 3px;
  }

  .addr::before {
    content: url('../img/icon-pin.svg');
    @extend %icon;
  }

  .phone::before {
    content: url('../img/icon-phone.svg');
    @extend %icon;
  }

  .fax::before {
    content: url('../img/icon-fax.svg');
    @extend %icon;
  }

  .calendar::before {
    content: url('../img/icon-calendar.svg');
    @extend %icon;
  }

  .space-68 {
    height: 68px;
  }
}